/* Basic code for the entire page */
:root {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: PTsans, sans-serif;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 70px;
  scroll-behavior: smooth;
}

/* Common picto and barre */
.picto-title {
  height: 35px;
  width: auto;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.sectionbarre::after {
  content: "";
  display: block;
  border-top: 7px solid #66ccff;
  width: 400px;
  border-radius: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* Event */
.imgchildsmph {
  margin-top: -55px;
  max-height: 420px;
  width: auto;
  margin-bottom: 10px;
  border-radius: 10%;
}

.message-event {
  text-align: justify;
  text-indent: 1.5em;
}

/* Contact */
.btn-form {
  background-color: #66ccff;
  color: white;
  transition: all 0.5 ease;
  border: 2px solid white;
}

.btn-form:hover {
  background-color: white;
  color: #66ccff;
  border: 2px solid #66ccff;
}

.chekcond {
  margin-top: -10px;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #011c37;
  color: white;
  box-shadow: 0px -2px 7px rgb(100, 100, 100);
}

.pictofooter {
  height: auto;
  width: 35px;
}

.logofooter {
  height: 50px;
  width: auto;
}

.pictofren {
  height: 24px;
  width: auto;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.picfooh {
  position: relative;
  transition: all 0.5s ease;
}

.picfooh:hover {
  transform: translateY(-20px);
}
