/* Basic code for the entire page */
:root {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: PTsans, sans-serif;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 70px;
}
