/* Basic code for the entire page */
:root {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: PTsans, sans-serif;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 70px;
}

/* Navbar custom */
.navbar {
  background-color: #66ccff;
  box-shadow: 0px 2px 7px rgb(100, 100, 100);
}

.navbar-brand {
  font-size: 25px;
}

.navbar-logo {
  height: 40px;
  width: auto;
  margin-right: 4px;
}

.navbar-picto {
  height: 24px;
  width: auto;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.navbar .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.4s ease-in-out;
}

.navbar .navbar-nav .nav-link:hover {
  color: white;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    margin-top: 0;
    top: 56px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    width: 200px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #011c37;
    transition: transform 0.4s ease-in-out, visibility 0.3s ease-in-out;
    box-shadow: 2px 0px 7px rgb(100, 100, 100);
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(100%);
  }
}

/* Scroll to top */
.scroll_to_top {
  position: fixed;
  width: 75px;
  height: 75px;
  bottom: 20px;
  right: 20px;
  z-index: 2;
}
.scroll_to_top img {
  width: 75px;
  height: auto;
}
